@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(173, 128, 169);

}

.button-light {
  background-color: transparent;
  border-color: var(--primarygreen);
}

  a {
    text-decoration: none;
  }





