  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="assets/images/PopCorn.png"> </a>
     <ul class="nav-item active">
   <a class="nav-link" href="/">Home</a>
 </ul>
  <ul class="nav-item">
   <a class="nav-link" href="/programs/">Programes</a>
 </ul>
 </li>
 <ul class="nav-item">
   <a class="nav-link" href="/categories/">Catégories</a>
 </ul>
 <ul>
 {% if app.user %}
    {{ app.user.email }}
    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
{% else %}
    <a href="{{ path('app_login') }}"> Se connecter</a>
{% endif %}
</ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


















 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
